@media screen and (max-width: 1000px) {

    header .menu-desktop,
    header .btn-contato {
        display: none;
    }

    header .btn-menu-mob {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    /* Resposivo da Hero */

    .interface {
        padding: 0 20px;
    }

    header {
        background: linear-gradient(135deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0));

        width: 100%;
        padding: 20px 0;
        position: fixed;
        top: 0;
        left: 0;
    }


    .hero-site .txt-hero h1 {
        font-size: 2.6em;
        line-height: 45px;

    }

    .hero-site .txt-hero p {
        font-size: 14px;
    }

    .hero-site .txt-hero p span {
        display: inline;
    }

    .hero-site button {
        width: 210px;
        height: 50px;
        font-size: 18px;
    }

    /*=============== MENU MOBILE ===============*/


    a .button-mobile{
        font-size: 20px;

        width: 210px;
        height: 40px;
        margin-top: 27px;

        border-radius: 20px;

        background-color: rgb(77, 77, 77);
        color: #fff;
    }


    /*=============== BOTAO ORBS ===============*/

    .card button {
        height: 30px;
        right: 30px;
        border: none;
        padding: 4px;
        width: 180px;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 5px;
    }

    .card {
        width: 180px;
        height: 220px;
        border-radius: 12px;
    }

    .card img {
        width: 100%;
        height: 100px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    /* Comunidade */

    section.contato {
        margin-top: 1900px;
    }

    .txt-contato,
    .icons-contato {
        display: inline-block;
        width: 50%;
        margin-right: -4px;
        vertical-align: middle;
    }

    .contato .txt-contato h3 {
        font-size: 1.5em;
        line-height: 40px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .contato .txt-contato h3 span {
        display: block;
        font-weight: 700;
    }

    .contato .icons-contato a {
        text-decoration: none;
    }

    .contato .icons-contato button {
        padding: 0 40px;
    }

    .contato .icons-contato button i {
        font-size: 25px;
    }

    .contato .icons-contato button p {
        font-size: 0px;
    }

}